svg {
  font-size: 10px;
}

rect {
  fill: #eeeeee;
}

path.area {
  fill: #000;
  fill-opacity: .75;
}

.axis line, .grid line {
  stroke-width: .5px;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: #fff;
}

.grid line.minor {
  stroke-opacity: .5;
}

.grid text {
  display: none;
}

.axis line {
  stroke: #000;
}

.grid path, .axis path {
  display: none;
}